@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,65,199,1) 0%, rgba(7,236,254,1) 100%); 
  background-size: cover;
  
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 400px;
  backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(130%);    
  border-width: 1px;
  border-color: #fff;
  border-radius: 15px;
  border-style: solid;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}
/* logo */
.imageLogin{
  max-width: 5%;
  max-height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  
}
.center h1{
  text-align: center;
  border-bottom: 1px solid silver;
  color: #ffffff;
  font-size: 22px;
  padding-top: 3%;
  padding-bottom: 3%;
}
.center form{
  padding: 0 35px;
  box-sizing: border-box;
}
form .login_cred{
  position: relative;
  border-bottom: 2px solid #e6e6e6;
  margin: 30px 0;
}

.login_cred input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.login_cred label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #e6e6e6;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: .5s;
}
.login_cred span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #e6e6e6;
  transition: .5s;
}
.login_cred input:focus ~ label,
.login_cred input:valid ~ label{
  top: -5px;
  color: #ffffff;
}
.login_cred input:focus ~ span::before,
.login_cred input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px;
  color: #e6e6e6;
  cursor: pointer;
  display:inline-block;

  
}
.pass a[href="../reset_password/reset_password.html"] {
  color: white;
  text-decoration: none;
}
.pass a[href="../create_account/create_account.html"] {
  padding-left: 100px;
  color: white;
  text-decoration: none;
}

.pass:hover{
  text-decoration: none;
}

input[type="submit"]{
  width: 100%;
  height: 40px;
  margin-top: 3%;
  margin-bottom: 10%;
  border-radius: 10px;
  border-style: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #0f72b3;
}
input[type="submit"]:hover{
  transform: scale(1.05);
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 18px;
  color: #666666;
}
.signup_link a{
  color: #0f72b3;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
