/* Include the padding and border in an element's total width and height */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(269.92deg, #0D5697 1.12%, #59A7EC 57.12%, #50b5c2 107.81%);
    background-size: cover;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
  }

  #add-row {
    margin-top: 1%;
    margin-left: 5px;
  }

  .form-popup {
    position: absolute;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    max-width: fit-content;
    min-height: fit-content;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px) saturate(100%) contrast(45%) brightness(130%);    
    border-width: 1px;
    border-color: #fff;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .close-button {
    position:absolute;
    top: 2%;
    right: 5%;
    width: fit-content;
    border: none;
    background-color: transparent;
    font-size: 2em;
    cursor: pointer;
  }

  .form-container label {
    margin-bottom: 5px;
  }

  .form-container input, select {
    margin-bottom: 10px;
  }
  .button-wrapper {
    text-align: right;
  }
  .addBtn {
    margin-top: 4%;
    width: fit-content;
    cursor: pointer;
    padding: 3px;
  }

  .delBtn {
    margin-top: 4%;
    width: fit-content;
    cursor: pointer;
    padding: 4px;
    background-color: rgb(242, 91, 91);
    border: none;
  }

  h1 {
    position: absolute;
    top: 15px;
    left: 80px;
    cursor: pointer;
    padding: 5px;
    margin-left: 20px;
    color:white;
  }

  h2{
    text-align: left;
    font-size: 20px;
    color: #ffffff;
  }
.heading {
    padding-left: 20px;
}

#corner {
  position:fixed;
  right:10px;
  top:5px;
  cursor: pointer;
  padding: 5px;
}
#table-container {
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
    margin-left: 0;
    }
    #main-table {
    width: 1200px;
    color: rgb(0, 0, 0);

    }
    #main-table th {
    padding: 5px;
    height: 20px;
    }
    #main-table td {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    color: white;
    height: 40px;
    }

    
    #table-container button {
    float: center;
    border: none;
    padding: 5px 12px;
    margin: 10px 0;
    background: #27afd8;
    border-radius: 5px;
    width: 80%;
    color: white;
    cursor: pointer;
    }
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
#line {
    overflow: hidden;
    white-space: nowrap;
    display:inline-block;
    margin-left: 20px;
  }

#search {
    overflow: hidden;
    white-space: nowrap;
    display:inline-block;
    
}

.search-bar{
  padding: 0px 0px;
  margin-left: 20px;
  margin-bottom: 2px;
  border-bottom: 2px solid white;
  width: 100%;
  max-width: 700px;
}

::placeholder{
  color: #ffffff;
}

.search-bar input {
  background-color: transparent;
  border: 0;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #ffffff;
  padding-right: 200px;
  padding-left: 3px;
  padding-bottom: 5px;
}

.search-bar button {
  background-color: transparent;
  border-style: none;
}

.sorting{
  display:inline-block;
  margin-left: 20px;
  transform: translateY(-10px);
  
}
.selections{
  width: 100%;
}

.sorting-search{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width:100%;
  outline: 0;
  border-bottom: 2px solid white;
  padding-bottom: 1.75px;
  padding-right: 15px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
}

.sort {
  background-color: transparent;
  border: 0;
  outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9; 
  }

  #logout {
    width: 80px; 
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;
    border-style: none;
    outline: white;
    outline-width: 2px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #27afd8;
  }
  #logo-bottom{
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 10%;
  }
  #logout:hover { 
    transform: scale(1.05);
  }

#imagesLine {
  position:relative;
  width: 1350px;
  height: 400px;
  right: 0px;
  bottom: 0px;
  
}
#logo {
  position: absolute;
  right: 120px;
  bottom: 0px;
  width: fit-content;
  height: 30%;
  
}

#bottom {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: fit-content;
  height: 40%;
}

#main-table #names {
  top: 20px;
  height: 40px;
  width:fit-content;
  color: #575F6E;
  background: #D4D4D4;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#main-table #categorys {
  color: #575F6E;
  background: #D4D4D4;
  width:fit-content;
}  

#main-table #dates {
  color: #575F6E;
  background: #D4D4D4;
  width:fit-content;

}
#main-table #amounts {
  color: #575F6E;
  background: #D4D4D4;
  width:fit-content;


}
#main-table #actions {
  color: #575F6E;
  background: #D4D4D4;
  width:fit-content;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


