/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  hr {
    width: 800px;
    margin-left: 0;
  }
.heading {
    padding-left: 20px;
}
#table-container {
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
    margin-left: 0;
    }
    #main-table {
    width: 800px;
    color: white;

    }
    #main-table th {
    background: #27afd8;
    padding: 5px;
    }
    #main-table td {
    background: #4a9eb8;
    text-align: center;
    padding: 5px;
    }
    
    #table-container button {
    float: right;
    border: none;
    padding: 5px 12px;
    margin: 10px 0;
    background: #27afd8;
    color: white;
    cursor: pointer;
    }